html {
   
    font-size: 16px;
    line-height: 1.5;
    font-family: Helvetica, sans-serif;
    /* margin: 0.5em; */
}

body article {
    background: rgb(51, 102, 153);
    border-radius: 1rem; 
    margin: 5em;
    color: #ffffff; 
    padding: 5em;
}

h1 {
    font-family: Georgia, serif;
}