.site {
    max-width: 60em;
    margin: 0 auto;
}

table {
    width: 100%;
    border: 1px solid #cccccc;
    padding-bottom: 0.2em;
    background: yellow;
}

table tr th,
table tr td {
    border: 1px solid #cccccc;
    border-spacing: 0.2em;
    padding: 0.4em 0.8em;
}

table thead th,
table tfoot td {
    font-weight: bold;
    text-align: left;
    color: #ffffff;
    background-color: #000000;   
}

table tbody tr td {
    background: #cccccc;
}

table tbody tr:nth-child(even) td {
  background: #eeeeee ;
}